html {
  scroll-behavior: smooth;
}
a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}
.editors {
  height: 60vh;
}
.table-card {
  height: 150px;
  overflow-y: auto !important;
}
.tableRows td, .tableRows th {
  min-width: 200px;
  height: 50px;
}
.tableRows .scroller {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

/* Custom Stylesheet Made By MaterializeCSS.com */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
/* Zoom on card on hover */
.feature-card:hover {
  transform: scale(1.05);
}
